{% extends 'layout.html' %}
{% block title %} - Stwórz nowy wątek{% endblock %}
{% block body %}
    <div class="col-xs-12">
        <h2>Nowy Wątek</h2>
    </div>
    <div class="col-xs-12">
        <form method="POST">
            <div class="form-group">
                <label for="topic">temat:</label>
                <input class="form-control" id="topic" name="topic" type="text" placeholder="podaj temat"/>
            </div>
                <label for="content">Treść:</label>
                <textarea name="content" rows="5" style="width: 100%"></textarea>
            <button type="submit" class="btn btn-default">dodaj wątek</button>
        </form>
    </div>
{% endblock %}